<section class="main-logo">
	<h1>Radio Ginasio</h1>
	<h2>
		Welcome and enjoy the music
	</h2>
</section>



<%= link_to "Listen now!", '#', class: "btn btn-lg btn-primary" %>

<div id="radioContainer">
	<script type="text/javascript">var cstrpuid = 267187;var cstrpwidth = "800";var cstrpheight = "300";</script>
	<script type="text/javascript" src="http://cdn.caster.fm/0070B7/widgets/player.js"></script>
	<!--   DO NOT REMOVE THE LINKS BELOW, THEY  WILL BE HIDDEN (AND WILL HELP US A LOT)   -->
	<a id="cstrplb" href="http://www.caster.fm/">Free Shoutcast Hosting</a><a id="cstrplb2" href="http://www.caster.fm/">Radio Stream Hosting</a>
	<div id="cstrpdiv"></div>
</div>

