<body data-spy="scroll">
    
    <!---//Facebook button code-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
   
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">Radio Portusa</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#comments">Comments</a></li>
                        <li class="nav-item"><a class="scrollto" href="#about">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header top-section">
        <div class="container text-center">
            <div class="row">
                <div class="item col-md-2 col-sm-12 col-xs-12">
                   <%= image_tag("usa_flag.png", size: "150x150") %>
                </div>
                <div class="item col-md-8 col-sm-12 col-xs-12">
                   <h2 class="title">Radio<span class="highlight">Portusa</span></h2>
                </div>
                <div class="item col-md-2 col-sm-12 col-xs-12">
                    <%= image_tag("portugal_flag.png", size: "150x150") %>
                </div>
            </div>

            
            <p class="intro">Live Portuguese music broadcasted from Ludlow, Massachusetts</p>
           
            <!-- <iframe src="http://mobile.Caster.fm/A0A7E9" border="0" style="border:0;" width="800" height="360"></iframe> -->

            <iframe src="http://mobile.Caster.fm/A0A7E9" border="0" style="border:0;" width="404" height="338"></iframe>

            <div><a href="http://ginasio.caster.fm">Click here if the stream doesn't work</a></div>
        </div>
    </section>
    

    <section id="comments" class="promo section">
        <div class="container">
            <div class="row">
                <div class="item col-md-8 col-sm-12 col-xs-12 fb-comments text-center">
                    <div class="content">
                        <div class="fb-comments" data-href="http://www.radioportusa.com" data-numposts="5" data-colorscheme="light"></div>
                    </div>
                </div>
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="content text-center">
                        <script type="text/javascript">var cstruid = 271443;var cstrdark = "FALSE";</script>
                        <script type="text/javascript" src="http://cdn.caster.fm/0070B7/widgets/status.js"></script>
                        <!--   DO NOT REMOVE THE LINKS BELOW, THEY  WILL BE HIDDEN (AND WILL HELP US A LOT)   -->
                        <a id="cstrlb" href="http://www.caster.fm/">Free Shoutcast Hosting</a><a id="cstrlb2" href="http://www.caster.fm/">Radio Stream Hosting</a>
                        <div id="cstrdiv"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
      

    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Contact</h2>
            <p class="intro text-center">Tony Francisco</p>
            <p class="intro text-center">evora55@hotmail.com</p>
        </div>
    </section> 
    
</body>
</html> 


