@import "bootstrap-sprockets";
@import "bootstrap";

/*color theme:
#577DC5
#7796AF
#605E77
#1C3B72
#284C52
*/

header {
	/*background-color: #7796AF;
	border-color: #577DC5;*/
}

/*body {
	background: fixed image-url("bgImg.jpg");
}

.home-link {
	color: white !important;
}

.home-link:hover {
	background-color: rgba(238, 238, 238, 0.3) !important;
}

.main-menu {
	background: white;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
}

li.nav-menu-item.active > a {
	color: #0091ff;
	border-top: 2px solid #0091ff;
}

.main-container {
	margin-top: 100px;
}

.main-container h1, h2 {
	text-align: center;
}*/